flows_AKHIL.json
[{"id":"ed4b6df.a24649","type":"tab","label":"Flow 1"},{"id":"cbfc1f68.36706","type":"tab","label":"Flow 2"},{"id":"eee4a410.d316a8","type":"http in","z":"ed4b6df.a24649","name":"post","url":"/post","method":"post","swaggerDoc":"","x":296,"y":242,"wires":[["e6c33ce7.66b16","f537d2ba.28f2c"]]},{"id":"29d9ce46.5e06a2","type":"sentiment","z":"ed4b6df.a24649","name":"","x":655,"y":456,"wires":[["bed4fe00.ae499"]]},{"id":"e6c33ce7.66b16","type":"debug","z":"ed4b6df.a24649","name":"msg payload","active":true,"console":"true","complete":"payload","x":725,"y":136,"wires":[]},{"id":"bed4fe00.ae499","type":"debug","z":"ed4b6df.a24649","name":"","active":true,"console":"true","complete":"payload","x":965,"y":426,"wires":[]},{"id":"b905fe9a.d01d3","type":"function","z":"ed4b6df.a24649","name":"","func":"msg.payload=\"sorry\"\nreturn msg;","outputs":1,"noerr":0,"x":803,"y":240,"wires":[["5079f683.a57ab8"]]},{"id":"5c9e4750.cfb8d8","type":"function","z":"ed4b6df.a24649","name":"","func":"msg.payload=\"good\"\nreturn msg;","outputs":1,"noerr":0,"x":804,"y":304,"wires":[["5079f683.a57ab8"]]},{"id":"5079f683.a57ab8","type":"http response","z":"ed4b6df.a24649","name":"RESPONSE","x":1187,"y":250,"wires":[]},{"id":"f537d2ba.28f2c","type":"watson-tone-analyzer-v3","z":"ed4b6df.a24649","name":"","tones":"all","sentences":"true","contentType":"false","x":380,"y":539,"wires":[["56a93f2.fc63ac"]]},{"id":"a0c6aba8.3f5098","type":"function","z":"ed4b6df.a24649","name":"","func":"var obj={}\nobj.alchemysentiment=msg.alchemysentiment;\nobj.response=msg.response;\nobj.text=msg.payload;\nmsg.payload=obj;\nreturn msg;","outputs":1,"noerr":0,"x":837,"y":375,"wires":[["5079f683.a57ab8"]]},{"id":"5964518c.cdeb8","type":"switch","z":"ed4b6df.a24649","name":"","property":"sentiment.score","propertyType":"msg","rules":[{"t":"gt","v":" 0.173363","vt":"str"},{"t":"lt","v":"0.594561","vt":"str"}],"checkall":"true","outputs":2,"x":600.5,"y":273,"wires":[["b905fe9a.d01d3","5c9e4750.cfb8d8"],[]]},{"id":"56a93f2.fc63ac","type":"alchemy sentiment","z":"ed4b6df.a24649","target":"","name":"","x":676.5,"y":589,"wires":[["a0c6aba8.3f5098"]]},{"id":"5cbfe712.f71778","type":"http in","z":"cbfc1f68.36706","name":"data","url":"/data","method":"post","swaggerDoc":"","x":224,"y":287,"wires":[["af0f8639.f89468","51877e7.51fba8"]]},{"id":"af0f8639.f89468","type":"debug","z":"cbfc1f68.36706","name":"payload","active":true,"console":"false","complete":"payload","x":520,"y":158,"wires":[]},{"id":"51877e7.51fba8","type":"switch","z":"cbfc1f68.36706","name":"limit","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"4","vt":"str"},{"t":"btwn","v":"5","vt":"num","v2":"6","v2t":"num"},{"t":"btwn","v":"6","vt":"num","v2":"7","v2t":"num"},{"t":"btwn","v":"7","vt":"num","v2":"8","v2t":"num"},{"t":"gt","v":"8","vt":"str"}],"checkall":"true","outputs":5,"x":497.5,"y":416,"wires":[["76b477be.e20a28"],["c9d993ae.ac06"],["ba989d2c.33c1f"],["653e3188.7dc04"],["190ae8c8.7123f7"]]},{"id":"76b477be.e20a28","type":"function","z":"cbfc1f68.36706","name":"MONOR","func":"msg.payload=\"MINOR\"\nreturn msg;","outputs":1,"noerr":0,"x":790.5,"y":258,"wires":[["7b8a2ecc.9ace1"]]},{"id":"c9d993ae.ac06","type":"function","z":"cbfc1f68.36706","name":"MODERATE","func":"msg.payload=\"MODERATE\"\nreturn msg;","outputs":"1","noerr":0,"x":798.5,"y":330,"wires":[["7b8a2ecc.9ace1"]]},{"id":"7b8a2ecc.9ace1","type":"http response","z":"cbfc1f68.36706","name":"RESULT","x":1114.5,"y":395,"wires":[]},{"id":"ba989d2c.33c1f","type":"function","z":"cbfc1f68.36706","name":"STRONG","func":"msg.payload=\"STRONG\"\nreturn msg;","outputs":1,"noerr":0,"x":792.5,"y":388,"wires":[["7b8a2ecc.9ace1"]]},{"id":"653e3188.7dc04","type":"function","z":"cbfc1f68.36706","name":"MAJOR","func":"msg.payload=\"MAJOR\"\nreturn msg;","outputs":1,"noerr":0,"x":796.5,"y":462,"wires":[["7b8a2ecc.9ace1"]]},{"id":"190ae8c8.7123f7","type":"function","z":"cbfc1f68.36706","name":"GREAT","func":"msg.payload=\"GREAT\"\nreturn msg;","outputs":1,"noerr":0,"x":801.5,"y":530,"wires":[["7b8a2ecc.9ace1"]]}]